<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>sFTP Client</string>
    <key>CFBundleName</key>
    <string>sFTP App Ltd</string>
    <key>CFBundleVersion</key>
    <string>3.3.17</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Web site URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.sftpapp.www</string>
          <string>com.sftpapp.download</string>
          <string>com.sftpapp.update</string>
          <string>com.sftpapp.payments</string>
          <string>com.sftpapp.api</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sftpclient</string>
        </array>
        <key>CFBundleURLName</key>
        <string>sFTP Client</string>
      </dict>
    </array>
    <key>ElectronTeamID</key>
    <string>6UA497WRNS</string>
  </dict>
</plist>
